[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
html2text = "*"
passlib = "*"
bcrypt = "*"
openai = "*"
celery = "*"
djangorestframework = "*"
ipython = "*"
environs = "*"
gunicorn = "*"
psycopg2-binary = "*"
whitenoise = "*"
markdown = "*"
django-celery-beat = "*"

[dev-packages]

[requires]
python_version = "3.11"
