{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{{ report.subject }}</title>
        <style>
            th,td { padding: 12px 15px;text-align: left;border-bottom: 1px solid #E1E1E1; }
            th:first-child,td:first-child { padding-left: 0; }
            th:last-child,td:last-child { padding-right: 0; }
        </style>
        <link rel="stylesheet" href="https://gist.email{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="https://gist.email{% static 'css/skeleton.css' %}">
    </head>
    <body>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="one column">
                        <img src="https://gist.email{% static 'img/gist.png' %}" width="100" />
                    </div>
                    <div class="ten offset-by-one columns">
                        <br>
                        <h2>{{ report.subject }}</h2>
                    </div>
                </div>
                <hr>
                <br>
                <div class="row">
                    <div class="ten columns">
                        <table>
                            <tbody>
                                <tr>
                                    <th>Priority</th>
                                    <th>Category</th>
                                    <th>Sender</th>
                                    <th>Gist</th>
                                </tr>
                                {% for gist in report.gists.all %}
                                    {% if not gist.complete %}
                                    <tr>
                                        <td>{{ gist.priority }}</td>
                                        <td>{{ gist.category }}</td>
                                        <td>{{ gist.sender }}</td>
                                        <td>
                                            <a href="{{ gist.email.view|safe }}">
                                                {{ gist.gist }}
                                            </a>
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>