<!DOCTYPE html>
<html>
    <head>
        <title>GIST Email Report</title>
        <style>
            th,td { padding: 12px 15px;text-align: left;border-bottom: 1px solid #E1E1E1; }
            th:first-child,td:first-child { padding-left: 0; }
            th:last-child,td:last-child { padding-right: 0; }
        </style>
    </head>
    <body>
        <table>
            <tr>
                <th>Complete</th>
                <th>Category</th>
                <th>Sender</th>
                <th>Gist</th>
            </tr>
            {% for gist in gists %}
                <tr>
                    {% if gist.complete %}
                        <td>&#x2713;</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                        <td>{{ gist.category }}</td>
                        <td>{{ gist.sender }}</td>
                        <td>
                            <a href="{{ gist.email.view|safe }}">
                                {{ gist.gist }}
                            </a>
                        </td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>